openshift: false

quartz:
  controllers:
    main:
      enabled: true
      type: deployment
      replicas: 1

      containers:
        main:
          image:
            repository: nooverflow/quartz
            tag: latest
            pullPolicy: Always

          ports:
            - name: http
              containerPort: 8080
              protocol: TCP

          probes:
            liveness:
              enabled: true
              type: HTTP
              spec:
                path: /
                port: http
            readiness:
              enabled: true
              type: HTTP
              spec:
                path: /
                port: http

          resources:
            limits:
              cpu: 4
              memory: 2048Mi
            requests:
              cpu: 250m
              memory: 256Mi

  service:
    main:
      enabled: true
      controller: main
      primary: true
      type: ClusterIP
      ports:
        http:
          enabled: true
          port: 80
          protocol: TCP
          targetPort: http


